body {
    background-color: transparent !important;
}

[data-level="1"], 
rect.ContributionCalendar-day[data-level="1"] { 
    fill: #e9d5ff !important; 
    background-color: #e9d5ff !important; 
}
[data-level="2"], 
rect.ContributionCalendar-day[data-level="2"] { 
    fill: #c084fc !important; 
    background-color: #c084fc !important; 
}
[data-level="3"], 
rect.ContributionCalendar-day[data-level="3"] { 
    fill: #9333ea !important; 
    background-color: #9333ea !important; 
}
[data-level="4"], 
rect.ContributionCalendar-day[data-level="4"] { 
    fill: #581c87 !important; 
    background-color: #581c87 !important; 
}

:root, [data-color-mode] {
    --color-calendar-graph-day-L1-bg: #e9d5ff !important;
    --color-calendar-graph-day-L2-bg: #c084fc !important;
    --color-calendar-graph-day-L3-bg: #9333ea !important;
    --color-calendar-graph-day-L4-bg: #581c87 !important;
}

.legend li {
    background-color: var(--color-calendar-graph-day-L1-bg) !important;
}